<h2>sidebar</h2>
<% @categories= Micropost.select("category").group("category")%>
<% unless @categories.nil? %>

<ul><% @categories.each do |category| %>
<li><%= link_to category.category, :controller =>"microposts", :category => category.category, :method => 'category_list' %></li>
<% end %>
</ul>

<% end %>
