<h2>sidebar</h2>
<% @categories = Micropost.select('DISTINCT(category)').map(&:category).compact%>
<% unless @categories.empty? %>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category, :controller => "microposts", :action => "category_list", :id => category %></li>
    <% end %>
  </ul>
<% end %>